<header class="nav">
  <div class="container nav-inner">
    <a class="brand" routerLink="/">
      <span>E-learning</span><span class="brand-dot">●</span>
    </a>

    <nav class="links">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/courses" routerLinkActive="active">Courses</a>
      <a routerLink="/events" routerLinkActive="active">Events</a>
      <a routerLink="/voice" routerLinkActive="active">Voice Coach</a>
      <a routerLink="/subscription" routerLinkActive="active">subscription</a>
      <a routerLink="/revenus" routerLinkActive="active"> revenus IA</a>
      <a routerLink="/examen" routerLinkActive="active">Examen</a>
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
    </nav>

    <div class="cta">
      <a routerLink="/login" class="btn solid">Sign In</a>
      <a routerLink="/register" class="btn soft">Sign Up</a>
    </div>
  </div>
</header>
