<footer class="footer">
  <div class="container grid">
    <div class="col brand">
      <div class="logo">
        <span>E-learning</span><span class="dot">●</span>
      </div>
      <div class="social">
        <a aria-label="Facebook" href="#"><img src="assets/icons/fb.svg" alt=""></a>
        <a aria-label="Twitter" href="#"><img src="assets/icons/insta.svg" alt=""></a>
        <a aria-label="Instagram" href="#"><img src="assets/icons/link.svg" alt=""></a>
      </div>
    </div>

    <div class="col">
      <h4>Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/courses">Courses</a></li>
        <li><a routerLink="/mentor">Mentor</a></li>
        <li><a routerLink="/group">Group</a></li>
        <li><a routerLink="/testimonial">Testimonial</a></li>
        <li><a routerLink="/docs">Docs</a></li>
      </ul>
    </div>

    <div class="col">
      <h4>Other</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="col contact">
      <p>📍 925 Filbert Street Pennsylvania 18072</p>
      <p>📞 +45 3411-4411</p>
      <p>📧 info@gmail.com</p>
    </div>
  </div>

  <div class="bar">
    <div class="container bar-inner">
      <span>@2025 Agency. All Rights Reserved</span>
      <nav class="policies">
        <a href="#">Privacy policy</a>
        <a href="#">Terms & conditions</a>
        <span>Distributed by ThemeWagon</span>
      </nav>
    </div>
  </div>
</footer>
